.container, .titulo {
    display: flex;
    justify-content: center;
}

.imc {
    max-width: 950px;
    margin-top: 20px;
    padding: 20px;    
    color: rgb(241, 241, 240);
    background-color: rgb(42, 42, 107);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteudo {
    font-size: 16px;
}