* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: rgb(230, 230, 230);
    color: rgb(15, 15, 115);
}

h1 {
    padding: 15px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}